name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: xdebug

      - name: Install dependencies
        run: composer install --no-dev --prefer-dist --no-progress

      - name: Run linter
        run: ./vendor/bin/phpcs --standard=PSR12 src/ bin/

      - name: Run tests
        run: make test-coverage

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
            args: >
                -Dsonar.projectKey=eager94_php-project-48
                -Dsonar.organization=eager94
                -Dsonar.php.coverage.reportPaths=coverage.xml
